<h1 mat-dialog-title>Carrito de compras</h1>
<div mat-dialog-content>
  <mat-list>
    <div mat-subheader>Productos</div>
    <mat-list-item *ngFor="let item of data?.body?.items">
      <div class="container">
        <mat-icon matListItemIcon>shopping_basket</mat-icon>
        <div class="info">
          <div matListItemTitle>{{ item.producto?.title }}</div>
          <div matListItemLine>{{ item.producto?.price | currency }}</div>
          <div matListItemLine>{{ item.cantidad }} unidades</div>
        </div>
        <div class="acciones">
          <div>{{ item.cantidad * item.producto.price | currency }}</div>
          <button mat-icon-button (click)="eliminar(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button>Pagar</button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
