<h1 mat-dialog-title>Carrito de compras</h1>
<div mat-dialog-content>
  <mat-list>
    <div mat-subheader>Productos</div>
    <mat-list-item *ngFor="let item of data?.body?.items">
      <mat-icon matListItemIcon>shopping_basket</mat-icon>
      <div matListItemTitle>{{ item.producto.title }}</div>
      <div matListItemLine>{{ item.producto.price | currency }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button>Pagar</button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
