<h1 mat-dialog-title>Carrito de compras</h1>
<div mat-dialog-content *ngIf="!modoPagar">
  <mat-list>
    <div mat-subheader>Productos</div>
    <mat-list-item *ngFor="let item of data?.body?.items">
      <div class="container">
        <mat-icon matListItemIcon>shopping_basket</mat-icon>
        <div class="info">
          <div matListItemTitle>{{ item.producto?.title }}</div>
          <div matListItemLine>{{ item.producto?.price | currency }}</div>
          <div matListItemLine>{{ item.cantidad }} unidades</div>
        </div>
        <div class="acciones">
          <div>{{ item.cantidad * item.producto.price | currency }}</div>
          <button mat-icon-button (click)="eliminar(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<div mat-dialog-actions *ngIf="!modoPagar">
  <button mat-button (click)="modoPagar = true">Pagar</button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>

<div mat-dialog-content *ngIf="modoPagar">
  <div mat-subheader>Pagar carrito</div>
  <form [formGroup]="pagarForm">
    <div class="controls">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Ingrese el número de la tarjeta"
          formControlName="tarjeta"
        />
      </mat-form-field>

      <mat-form-field *ngIf="infoTarjeta">
        <input matInput type="text" formControlName="nombre" readonly/>
      </mat-form-field>

      <mat-form-field *ngIf="infoTarjeta">
        <input matInput type="text" formControlName="fecha" readonly/>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions *ngIf="modoPagar && !infoTarjeta">
  <button mat-button (click)="consultarTarjeta()">Continuar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>

<div mat-dialog-actions *ngIf="infoTarjeta">
  <button mat-button (click)="pagar()">Continuar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>
